@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 60px;
}

.App-header {
  background-color: #222;
  height: 60px;
  /*padding: 20px;*/
  color: white;
    display: flex;

}

.App-title {
    font-size: 1.5em;
    color: #61DAFB;
    padding: 16px;
}

.main{
    margin: auto;
    border: 1px solid #222222;

    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
